 .contractdetail_body .swiper-button-next,
 .contractdetail_body .swiper-button-prev {
     position: absolute;
     top: 27px;
     height: 32px;
     width: 14px;
     background-size: 100%;
 }
 
 .contractdetail_body .swiper-button_next {
     right: 20px;
     background: url("/static/ldd/img/pages/right.png");
 }
 
 .contractdetail_body .swiper-button_prev {
     left: 20px;
     background: url("/static/ldd/img/pages/left.png");
 }
 
 .contractdetail_body {
     background: #fafafe;
 }
 
 .contractdetail_head {
     width: 100%;
     height: 150px;
 }
 
 .contractdetail_headtop {
     width: 100%;
     height: 100px;
 }
 
 .contractdetail_tiple {
     float: left;
     width: 40%;
     height: 80px;
     margin-top: 10px;
     text-align: center;
 }
 
 .contractdetail_tiple h5 {
     height: 45px;
     line-height: 45px;
     font-size: 18px;
     color: #000;
 }
 
 .contractdetail_tiple h6 {
     height: 20px;
     line-height: 20px;
     font-size: 14px;
     color: #999;
 }
 
 .contractdetail_tiple:first-child {
     border-right: 1px solid #eee;
     margin-left: 10%;
 }
 
 .contractdetail_pages {
     width: 80%;
     margin-left: 10%;
     height: 45px;
     line-height: 45px;
     color: #0093fd;
     text-align: center;
     border-top: #eee 1px solid;
     margin-top: 5px;
 }
 
 .contractdetail_body h2 {
     height: 40px;
     line-height: 40px;
     padding: 0 20px;
     font-size: 14px;
     color: #000;
     background-color: #fafafe;
     font-weight: 400;
 }
 
 .contractdetail_body h2 span:last-child {
     color: #78bae9;
     float: right;
 }
 
 .contractdetail_list li {
     height: 50px;
     line-height: 50px;
     padding: 0 20px;
     font-size: 14px;
     color: #666666;
     border-bottom: 1px solid #eee;
 }
 
 .contractdetail_list li span:last-child {
     float: right;
 }