.content_inner {
    margin: 0 auto;
}

.mui-input-row,
.inrow_group {
    margin: 3px 0;
}

.inrow_group .inrow:first-child {
    padding-right: 12px;
}

.inrow {
    float: left
}

.inrow .mui-btn,
.content_inner_btn .mui-btn {
    width: 100%;
    height: 40px;
}


.content_inner_btn {
    margin-top: 30px;
    background: #5868fb;
    border-radius: 4px;
}

.mui-btn.disabled {
    background-color: #dddddd;
    color: #888;
    border: 1px solid #ddd
}

.content_errortip {
    position: fixed;
    top: 0;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #f06060;
    color: #fff;
    text-align: center;
}

.xiugai_logo {
    display: block;
    width: 30%;
    margin: 50px;
    margin-left: 35%;
}

.xiugai_html,
.xiugai_html body {
    background: #fff;
}

.xiugai_from {
    width: 80%;
    margin-left: 10%;
}

.xiugai_listo {
    border-bottom: 1px solid #f0f3f5;
    overflow: hidden;
    height: 50px;
}

.xiugai_listo input {
    border: none;
    font-size: 14px;
    margin: 0;
    margin-top: 3px;
}

.xiugai_from .xiugai_label {
    width: 23%;
    float: left;
    font-size: 14px;
    margin-top: 17px;
}

.xiugai_from>div> .xiugaimobile {
    width: 76%;
    float: left;
}

.xiugaiyzm {
    width: 45%;
}

#yzm_btn {
    width: 29%;
    height: 25px;
    background: #77a9fe;
    margin-top: 10px;
    border-radius: 3px;
}

#yzm_btn a {
    display: block;
    height: 25px;
    font-size: 12px;
    padding: 0;
    line-height: 25px;
}

.xiugai_from .xiugai_listo #password,
.xiugai_from .xiugai_listo #password2 {
    width: 76%;
    float: left;
}
