.login_logo {
    max-width: 356px;
    width: 35%;
    margin: 0 auto;
    padding-top: 80px;
}

.login_logo img {
    width: 100%;
}

.login_label img {
    display: block;
    width: 13px;
    height: 17px;
    position: absolute;
    top: 11px;
    left: 25px;
}

.mui-input-group .mui-input-row:last-child:after {
    background-color: transparent !important;
}

.login_btns {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.login_btns .mui-btn {
    width: 80%;
    margin: 0 auto;
    background: #5768fb;
    height: 45px;
    padding: 0;
}

.regLnk {
    font-family: Microsoft YaHei, Helvetica;
    float: right;
    margin-top: .36rem;
    color: #999999;
}

.login_html {
    width: 100%;
    height: 100%;
    background: #fff;
}

.login_input {
    width: 80%;
    margin: 50px 0 70px 10%;
    margin-left: 10%;
}

.login_input:before,
.login_input:after,
.login_input .mui-input-row:before,
.login_input .mui-input-row:after {
    background-color: #fff;
}

.login_input .mui-input-row {
    border-bottom: 1px solid #eeeeee;
    height: 60px;
    line-height: 60px;
}

.login_input .mui-input-row .mui-icon-eye {
    top: 20px;
}

.login_input .mui-input-row label {
    width: 25%;
}

.login_input .mui-input-row input {
    width: 74%;
    padding-left: 15px;
}

.login_input .mui-input-row input {
    font-size: 15px;
    color: #4c4c4c;
    margin-top: 12px;
}

.login_input .mui-input-row .login_label img {
    top: 20px;
    left: 10px;
    width: 15px;
    height: 20px;
}

.login_input .mui-input-row .login_label span {
    position: absolute;
    top: 25px;
    left: 40px;
    font-size: 15px;
    color: #666666;
}